{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-3xl text-center mt-3">Bienvenue sur Anime Generation</h1>
    <h2 class="text-xl ml-40 mt-5">Derniers ajouts</h2>
    <section class="mx-40 mt-5 overflow-x-auto whitespace-nowrap py-2 scrollbar-hide">
        {% for anime in animes %}
            <article class="inline-block rounded overflow-hidden shadow-lg m-2 h-96 w-52">
                <div class="h-60 w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="{{ anime.coverImage.large }}" alt="Cover Image">
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ anime.title.romaji }}</div>
                    <p class="text-gray-700 text-base">
                        {{ anime.description | slice(0, 100) }}...
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ anime.genres | join(', #') }}</span>
                </div>
            </article>
        {% endfor %}
    </section>
    <h2 class="text-xl ml-40 mt-5">Les plus populaires</h2>
    <section class="mx-40 mt-5"></section>
    <h2 class="text-xl ml-40 mt-5">Suggestion</h2>
    <section class="mx-40 mt-5"></section>
{% endblock %}
